<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>Spring Boot Exemple</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"
        media="screen" />
    <script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
    <th:block th:include="fragments/head :: head"></th:block>

</head>

<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(persons)}">
            <h2>Person List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>BirthDate</th>
                    <th>Address</th>
                    <th>Zip code</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="person : ${persons}">
                    <td th:text="${person.id}"><a href="/person/${person.id}">Id</a></td>
                    <td th:text="${person.Firstname}">Product Id</td>
                    <td th:text="${person.Lastname}">descirption</td>
                    <td th:text="${person.BirthDate}">descirption</td>
                    <td th:text="${person.Address}">descirption</td>
                    <td th:text="${person.Zipcode}">descirption</td>
                    <td th:text="${person.Email}">descirption</td>
                    <td th:text="${person.Phone}">descirption</td>
                    <td><a th:href="${ '/person/' + person.id}">View</a></td>
                    <td><a th:href="${'/person/edit/' + person.id}">Edit</a></td>
                    <td><a th:href="${'/person/delete/' + person.id}">Delete</a></td>
                </tr>
            </table>

        </div>
    </div>
</body>

</html>