<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
    <div class="container">
            <div th:fragment="header">
                <nav class="navbar navbar-light bg-light navbar-expand-md"> <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="#" th:href="@{/persons}" class="nav-link">Person List</a>
                        </li>
                        <li class="nav-item"><a href="#" th:href="@{/person/new}" class="nav-link">Create new Person</a>
                        </li>
                        <li class="nav-item"><a href="#" th:href="@{/person/owner}" class="nav-link">Owner</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</body>
</html>