<!DOCTYPE html>
<html>
<head lang="en">
    <title>Spring Boot Example</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"  media="screen"/>
    <script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script> 
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>

<div class="container">

</div>
</body>
</html>